@import '../../base/variables.scss';

$button-default-height: 48px;
$button-default-border-radius: 2px;
$button-horizontal-padding: 20px;
$button-raise-level: 4px;
$transform-speed: 0.175s;
$button-hover-pressure: 1;

$button-color-primary: #475472;
$button-color-secondary: #fffd8a;
$button-color-disabled: #f3c8ad;
$button-color-disabled-border: #8c633c;
$button-color-placeholder: #333333;

@import '../../base/lists.scss';

$button-colors:
  (
    "primary",
    $button-color-primary,
    darken($button-color-primary, 17%),
    lighten($button-color-primary, 55%)
  ),
  (
    "secondary",
    $button-color-secondary,
    darken($button-color-secondary, 55%),
    darken($button-color-secondary, 55%)
  ),
  (
    "disabled",
    $button-color-disabled,
    darken($button-color-disabled-border, 12%),
    lighten($button-color-disabled-border, 20%),
    2px solid lighten($button-color-disabled-border, 10%),
    transparent,
    transparent,
  ),
  (
    "placeholder",
    $button-color-placeholder,
    darken($button-color-placeholder, 17%),
    lighten($button-color-placeholder, 15%),
    none,
    transparent,
    transparent,
  );

@import '../../base/main.scss';

.#{$button-root} {
  &--disabled {
    span {
      text-decoration: line-through;
    }
  }
}
