# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Build outputs
dist/
storybook-static/
coverage/

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example
*storybook.log
