$unit: 4px;
$double: $unit * 2;
$half: $unit * 5;
$deca: $unit * 10;

%h1 {
  font-size: $deca;
  line-height: $deca;
  color: #cfcfcf;
}

%h2 {
  font-size: $double * 3;
  line-height: $double * 3;
}

%h3 {
  font-size: $deca / 2;
  line-height: $deca / 2;
}

%h4 {
  font-size: $double * 2;
  line-height: $double * 2;
}

%text {
  font-size: $double * 2;
  line-height: $double * 7/2;
}

html {
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #3a3a3a;
}

::selection {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: montserrat, tahoma, sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: $deca * 2;
  height: 100%;
}

a {
  color: #8a8a8a;
}

.section {
  margin: 0 auto;
  width: 500px;
  margin-bottom: 12px;

  a, button {
    display: inline-block;
    margin: 5px;
  }
}

.messenger {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: -2px;
  vertical-align: text-top;
}

.messengerInline {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 0px;
  margin-right: 4px;
  vertical-align: text-top;
}

.loadData {
  color: rgb(34, 151, 246);
  transition: color 0.15s ease-out, background-color 0.15s ease-out;
  position: relative;

  button {
    display: inline-block;
  }

  > span {
    display: inline-block;
    padding: 5px;
    transition: color 0.15s ease-out, background-color 0.15s ease-out;
    margin-left: 10px;
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: rgb(237, 247, 255);
    }
    &:active {
      background-color: rgb(203, 232, 255);
    }
    &:focus {
      outline: none;
    }
  }
}

.container {
}

.themeList {
  padding: 25px;
  width: 800px;
  margin: 0 auto 50px;

  button {
    margin: 15px 6px;
  }
}

.iconLabel {
  font-size: 20px !important;
  margin-top: -2px;
  margin-right: 4px;
  vertical-align: text-top;
}
