$button-color-primary: #475472;
$button-color-secondary: #fffc6c;
$button-color-disabled: #f3c8ad;
$button-color-disabled-border: #8c633c;
$button-color-placeholder: #333333;
$button-default-placeholder-font-color: lighten($button-default-placeholder-font-color, 60%);
