:global(body) {
  height: 100%;
}

:global(html) {
  height: 100%;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}

:global(#root) {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.wrapper {
  display: block;
}
