$button-default-height: 51px;
$button-default-border-radius: 16px;
$button-default-line-height: 28px;
$button-horizontal-padding: 24px;
$button-raise-level: 5px;
$transform-speed: 0.165s;
$button-hover-pressure: 1.4;
