$button-color-primary: #bdddee;
$button-color-primary-border: #d2cabf;
$button-color-secondary: #fafafa;
$button-color-secondary-border: #b3e5e1;
$button-color-disabled: #e3fdd6;
$button-color-disabled-border: #b3e39b;
$button-color-placeholder: #95d44a;
$button-color-placeholder-border: #5bbd3a;
$button-default-placeholder-font-color: #bce74c;
