/**
  button-color:
    color-name, (required)
    background, (required)
    darker-background, (required)
    font-color, (required)
    border,
    bubble-background,
    hover-background,
*/
$button-colors:
  (
    "primary",
    darken($button-color-primary, 5%),
    darken($button-color-primary, 25%),
    darken($button-color-primary, 40%),
    none,
    darken($button-color-primary, 15%),
    darken($button-color-primary, 8%),
  ),
  (
    "secondary",
    $button-color-secondary,
    darken($button-color-secondary-border, 20%),
    darken($button-color-secondary-border, 40%),
    1px solid $button-color-secondary-border,
    lighten($button-color-secondary-border, 1%),
    darken($button-color-secondary, 4%),
  ),
  (
    "disabled",
    $button-color-disabled,
    darken($button-color-disabled-border, 2%),
    darken($button-color-disabled-border, 5%),
    1px solid $button-color-disabled-border,
    transparent,
    transparent,
  ),
  (
    "placeholder",
    $button-color-placeholder,
    darken($button-color-placeholder-border, 5%),
    lighten($button-color-placeholder-border, 5%),
    1px solid $button-color-placeholder-border,
    transparent,
    transparent,
  );
