$button-default-height: 48px;
$button-default-border-radius: 6px;
$button-horizontal-padding: 20px;
$button-raise-level: 5px;
$transform-speed: 0.185s;
$button-hover-pressure: 2;

$button-icon-width: 44px;
$button-icon-height: $button-default-height;
$button-small-width: 88px;
$button-small-height: $button-default-height;
$button-medium-width: 136px;
$button-medium-height: $button-default-height;
$button-large-width: 192px;
$button-large-height: $button-default-height;