@import '../../base/variables.scss';

$button-default-border-radius: 40px;
$button-horizontal-padding: 20px;

$button-color-primary: #607D8B;
$button-color-secondary: #757575;
$button-color-disabled: #B0BEC5;

@import '../../base/lists.scss';
@import '../../base/main.scss';
