.container {

}

.loadData {
  display: flex;
  align-items: center;
}

.section {
  position: relative;

  button, a {
    margin-right: 12px;
  }
  .action {
    display: block;
    padding: 8px;
    cursor: pointer;
    outline-color: 0;
    outline-style: none;
    outline-width: 0;
    user-select: none;
  }
}
