// Basic Buttons
$button-primary-color: #283593;
$button-primary-color-dark: darken($button-primary-color, 10%);
$button-primary-color-light: lighten($button-primary-color, 50%);
$button-primary-color-hover: darken($button-primary-color, 2.5%);
$button-primary-color-active: darken($button-primary-color, 10%);
$button-primary-border: none;

$button-secondary-color: #E8EAF6;
$button-secondary-color-dark: darken($button-secondary-color, 25%);
$button-secondary-color-light: darken($button-primary-color, 10%);
$button-secondary-color-hover: darken($button-secondary-color, 5%);
$button-secondary-color-active: darken($button-secondary-color, 10%);
$button-secondary-border: none;

$button-anchor-color: #3D5AFE;
$button-anchor-color-dark: darken($button-anchor-color, 15%);
$button-anchor-color-light: lighten($button-anchor-color, 75%);
$button-anchor-color-hover: darken($button-anchor-color, 2%);
$button-anchor-color-active: darken($button-anchor-color, 5%);
$button-anchor-border: none;

$button-disabled-color: #AFAFAF;
$button-disabled-color-dark: darken($button-disabled-color, 15%);
$button-disabled-color-light: darken($button-disabled-color, 10%);
$button-disabled-color-hover: $button-disabled-color;
$button-disabled-color-active: $button-disabled-color;
$button-disabled-border: none;

$button-placeholder-color: #AFAFAF;
$button-placeholder-color-dark: darken($button-placeholder-color, 15%);
$button-placeholder-color-light: darken($button-placeholder-color, 10%);
$button-placeholder-color-hover: $button-placeholder-color;
$button-placeholder-color-active: $button-placeholder-color;
$button-placeholder-border: none;

$button-danger-color: #c42e2e;
$button-danger-color-dark: darken($button-danger-color, 15%);
$button-danger-color-light: lighten($button-danger-color, 75%);
$button-danger-color-hover: darken($button-danger-color, 2%);
$button-danger-color-active: darken($button-danger-color, 5%);
$button-danger-border: none;