%custom-proerties {
  --button-default-height: $button-default-height;
  --button-default-font-size: $button-default-font-size;
  --button-default-line-height: $button-default-line-height;
  --button-default-border-radius: $button-default-border-radius;
  --button-default-placeholder-width: $button-default-placeholder-width;
  --button-default-placeholder-font-color: $button-default-placeholder-font-color;

  --button-icon-width: $button-icon-width;
  --button-small-width: $button-small-width;
  --button-medium-width: $button-medium-width;
  --button-large-width: $button-large-width;

  --button-font-family: $button-font-family;
  --button-font-color: $button-font-color;
  --button-font-weight: $button-font-weight;
  --button-font-style: $button-font-style;
  --button-hover-darken-opacity: $button-hover-darken-opacity;
  --button-letter-spacing: $button-letter-spacing;
  --button-horizontal-padding: $button-horizontal-padding;

  --button-raise-level: $button-raise-level;
  --button-hover-pressure: $button-hover-pressure;

  --button-color-primary: $button-color-primary;
  --button-color-primary-dark: darken($button-color-primary, 15%);
  --button-color-primary-light: lighten($button-color-primary, 50%);
  --button-color-secondary: $button-color-secondary;
  --button-color-secondary-dark: darken($button-color-secondary, 15%);
  --button-color-secondary-light: lighten($button-color-secondary, 50%);
  --button-color-secondary-border: 2px solid var(--button-color-primary);
  --button-color-disabled: $button-color-disabled;
  --button-color-disabled-dark: darken($button-color-disabled, 15%);
  --button-color-placeholder: $button-color-placeholder;
  --button-color-placeholder-dark: darken($button-color-placeholder, 15%);
  --button-color-placeholder-light: lighten($button-color-placeholder, 15%);

  --loading-transition-speed: $loading-transition-speed;
  --transform-speed: $transform-speed;

  --button-color-facebook: $button-color-facebook;
  --button-color-facebook-dark: darken($button-color-facebook, 15%);
  --button-color-messenger: $button-color-messenger;
  --button-color-messenger-dark: darken($button-color-messenger, 15%);
  --button-color-twitter: $button-color-twitter;
  --button-color-twitter-dark: darken($button-color-twitter, 15%);
  --button-color-linkedin: $button-color-linkedin;
  --button-color-linkedin-dark: darken($button-color-linkedin, 15%);
  --button-color-whatsapp: $button-color-whatsapp;
  --button-color-whatsapp-dark: darken($button-color-whatsapp, 15%);
  --button-color-github: $button-color-github;
  --button-color-github-dark: darken($button-color-github, 15%);
  --button-color-reddit: $button-color-reddit;
  --button-color-reddit-dark: darken($button-color-reddit, 15%);
  --button-color-pinterest: $button-color-pinterest;
  --button-color-pinterest-dark: darken($button-color-pinterest, 15%);
  --button-color-gplus: $button-color-gplus;
  --button-color-gplus-dark: darken($button-color-gplus, 15%);
  --button-color-youtube: $button-color-youtube;
  --button-color-youtube-dark: darken($button-color-youtube, 15%);
  --button-color-instagram-radial-light: $button-color-instagram-radial-light;
  --button-color-instagram-radial-dark: $button-color-instagram-radial-dark;
}

.#{$button-root} {
  @extend %custom-proerties;
}
