$button-default-height: 50.5px;
$button-default-border-radius: 2px;
$button-default-line-height: 24.5px;
$button-horizontal-padding: 20.25px;
$button-raise-level: 4.5px;
$transform-speed: 0.175s;
$button-hover-pressure: 1;
