$button-default-height: 51px;
$button-default-border-radius: 4px;
$button-default-line-height: 28px;
$button-horizontal-padding: 20px;
$button-raise-level: 4px;
$transform-speed: 0.175s;
$button-hover-pressure: 1.15;
