@import '../../base/variables.scss';

$button-horizontal-padding: 18px;
$button-hover-pressure: 0.65;
$button-color-primary: #009688;
$transform-speed: 0.175s;

/**
 button-color: color-name, background, color
*/
$button-colors:
  (
    "primary",
    $button-color-primary,
    darken($button-color-primary, 17%),
    lighten($button-color-primary, 65%)
  ),
  (
    "secondary",
    $button-color-secondary,
    darken($button-color-secondary, 17%),
    lighten($button-color-secondary, 55%)
  ),
  (
    "disabled",
    $button-color-disabled,
    darken($button-color-disabled, 17%),
    lighten($button-color-disabled, 15%)
  );

@import '../../base/main.scss';
