@import '../../default.scss';

$button-horizontal-padding: 18px;
$button-hover-pressure: 0.65;
$button-color-primary: #009688;
$transform-speed: 0.175s;

/**
 button-color: color-name, background, color
*/
$button-colors:
  ("primary", $button-color-primary, lighten($button-color-primary, 65%)),
  ("secondary", $button-color-secondary, lighten($button-color-secondary, 55%)),
  ("disabled", $button-color-disabled, lighten($button-color-disabled, 15%)),
  ("facebook", #3b5998, #FFFFFF),
  ("twitter", #00aced, #FFFFFF),
  ("linkedin", #0077b5, #FFFFFF),
  ("whatsapp", #25d366, #FFFFFF),
  ("github", #4e545a, #FFFFFF);

@import '../../base/base.scss';
