$button-color-primary: #00B8C4;
$button-color-secondary: #EE3253;
$button-color-secondary-color: #FFE11D;
$button-color-disabled: #302E3C;
$button-color-disabled-border: #844D38;
$button-color-placeholder: #32458e;
$button-color-placeholder-border: #9f2d6a;
$button-default-placeholder-font-color: $button-color-placeholder-border;
